<h1>All Tasks</h1>
<table>
<th>Task Name </th>
<th>Actions </th>
<th >
<% for task in @tasks %>
<tr>
	<td><%= h task.name %></td>
	<td>&nbsp;<%= link_to 'Details', task %>
	<%= link_to 'Edit', edit_task_path(task) %>
	<%= link_to 'Delete', task, :confirm => "Are you sure you want to delete task: #{task.name} ", :method => :delete %> </td>
</tr>
<% end %>
</table>
<p>
<%= link_to "New Task", new_task_url %>
</p>

