!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}
    - if protect_against_forgery?
      %meta{:name => 'authenticity_token', :content => form_authenticity_token}
    %title
      Daily Tasks
    
    = stylesheet_link_tag 'application', '960','text','reset', :media => 'screen'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.custom.css'
    = stylesheet_link_tag 'application', :media => 'screen'
    
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery-ui-1.8.custom.min'
    = javascript_include_tag 'highcharts', 'jrails'

    =javascript_include_tag 'application'
  %body
    .container_16
      #header
        %h2 Daily Tasks
      #menu
        .grid_10.alpha
          =link_to "Home", root_url
          - if user_signed_in?
            |
            =link_to "Tasks", tasks_url
            |
            =link_to "History", history_url
            |
            =link_to  'Logout', destroy_user_session_url
        .grid_5.omega.logged_in_as
          - if user_signed_in?
            Logged in as:&nbsp;
            =current_user.email
          - else 
            |
            =link_to  'Login', user_session_url
      .flash
        %p{:style => "color: green"}
          =flash[:notice]
      .container
        =yield
